.todo-border {
  width: 300px;
  height: 70px;
  box-shadow: 1px 2px 5px 1px #0033FF;
  border-radius: 5px;
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.check-style {
  width: 18px;
  height: 18px;
  margin: 10px;
}
/* #AABBFF */
/* #7E9AFE */
/* #0033FF */